<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ch.netcetera.eclipse.workspace.defaultConfiguration" name="Remote Workspace Preferences Defaults Configuration" schema="schema/ch.netcetera.eclipse.workspace.configuration.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.netcetera.eclipse.workspaceconfig.ui.handler.WorkspaceStartupHandler"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.systemSummarySections">
      <section
            class="ch.netcetera.eclipse.workspaceconfig.ui.about.WorkspaceConfigurationStatusAboutSection"
            sectionTitle="%prefpage.title">
      </section>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.netcetera.eclipse.workspaceconfig.ui.preferences.WorkspaceConfigPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workspace"
            class="ch.netcetera.eclipse.workspaceconfig.ui.preferences.WorkspaceConfigPreferencePage"
            id="ch.netcetera.eclipse.workspaceconfig.ui.page"
            name="%workspaceconfig.page.label">
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword1">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword2">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword3">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword4">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword5">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword6">
         </keywordReference>
         <keywordReference
               id="ch.netcetera.eclipse.workspaceconfig.ui.keyword7">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword1"
            label="URL">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword2"
            label="Startup">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword3"
            label="user.local">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword4"
            label="preference">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword5"
            label="workspace">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword6"
            label="configuration">
      </keyword>
      <keyword
            id="ch.netcetera.eclipse.workspaceconfig.ui.keyword7"
            label="start">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ch.netcetera.eclipse.workspaceconfig.ui.category"
            description="%workspaceconfig.command.applySettings.label"
            id="ch.netcetera.eclipse.workspaceconfig.ui.applySettings"
            name="%workspaceconfig.command.applySettings.name">
      </command>
      <category
            id="ch.netcetera.eclipse.workspaceconfig.ui.category"
            name="%workspaceconfig.category.name">
      </category>
      <command
            categoryId="ch.netcetera.eclipse.workspaceconfig.ui.category"
            description="%workspaceconfig.command.recorder.description"
            id="ch.netcetera.eclipse.workspaceconfig.ui.record"
            name="%workspaceconfig.command.recorder.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.netcetera.eclipse.workspaceconfig.ui.handler.ImportWorkspaceConfigurationHandler"
            commandId="ch.netcetera.eclipse.workspaceconfig.ui.applySettings">
      </handler>
      <handler
            class="ch.netcetera.eclipse.workspaceconfig.ui.handler.WorkspacePreferencesRecorderHandler"
            commandId="ch.netcetera.eclipse.workspaceconfig.ui.record">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="ch.netcetera.eclipse.workspaceconfig.ui.RemotePreferencesImportWizard"
            icon="rsrc/dialog.gif"
            id="ch.netcetera.eclipse.workspaceconfig.ui.remotepreferencesimportwizard"
            name="%import.wizard.name">
         <description>
            %import.wizard.desc
         </description>
      </wizard>
   </extension>

</plugin>
