<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.headertitle }}</title>
    <meta name="author" content="The Eclipse Team Etceteras Project" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <header><a href="index.html" title="Home">Eclipse Team Etceteras</a></header>
      <p id="claim">Eclipse plugins that ease preferences handling in teams</p>
    </div>

    <div id="nav">
      <nav>
        <h1>Documentation</h1>
        <ul>
          <li><a href="releasenotes.html" title="Release Notes">Release Notes</a></li>
          <li><a href="wsuserguide.html" title="Remote Workspace Preferences Plug-in User's Guide">Workspace Preferences</a></li>
          <li><a href="prjuserguide.html" title="Remote Project Properties Plug-in User's Guide">Project Properties</a></li>
          <li><a href="http://www.eclipse.org/legal/epl-v10.html" stitle="">License</a></li>
        </ul>
        <h1>Download / Installation</h1>
        <ul>
          <li><a href="https://contrails.ch/ete/updatesite/" title="">Releases Update Site</a></li>
          <li><a href="https://contrails.ch/ete/updatesite-dev/" title="">Snapshot Update Site</a></li>
          <li><a href="https://contrails.ch/ete/" title="">Release Archive</a></li>
        </ul>
        <h1>Development</h1>
        <ul>
          <li><a href="https://github.com/pellaton/eclipse-team-etceteras" title="">github project</a></li>
          <li><a href="https://www.contrails.ch/hudson/job/ETE" title="">Continuous Build</a></li>
        </ul>
      <nav>
    </div>
  
    <div id="container">
    
    <h1>{{ page.title }}</h1>
  
    <div id="content">
      {{ content }}
    </div>

  </body>
</html>


