<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ch.netcetera.eclipse.projectconfig.ui.category"
            description="%command.fetchSettings.description"
            id="ch.netcetera.eclipse.projectconfig.ui.fetchSettings"
            name="%command.fetchSettings.name">
      </command>
      <category
            description="%category.fetchSettings.description"
            id="ch.netcetera.eclipse.projectconfig.ui.category"
            name="%category.fetchSettings.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.netcetera.eclipse.projectconfig.ui.handler.RunProjectConfigurationScriptHandler"
            commandId="ch.netcetera.eclipse.projectconfig.ui.fetchSettings">
         <enabledWhen>
            <and>
            <test
                  forcePluginActivation="true"
                  property="ch.netcetera.eclipse.projectconfig.ui.urlConfigured">
            </test>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.open">
                     </test>
                  </adapt>
               </iterate>
            </with>
            </and>
         </enabledWhen>
         <activeWhen>
         <and>
            <test
	              forcePluginActivation="true"
                  property="ch.netcetera.eclipse.projectconfig.ui.urlConfigured">
            </test>
            <with
                  variable="selection">
               <reference
                     definitionId="ch.netcetera.eclipse.projectconfig.ui.isProject">
               </reference>
            </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="ch.netcetera.eclipse.projectconfig.ui.fetchSettings"
               style="push"
               tooltip="%command.fetchSettings.description">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="ch.netcetera.eclipse.projectconfig.ui.isProject">
                  </reference>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ch.netcetera.eclipse.projectconfig.ui.isProject">
         <iterate
               ifEmpty="false"
               operator="and">
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IJavaProject">
               </adapt>
            </or>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="ch.netcetera.eclipse.projectconfig.ui.preferences.ProjectConfigPreferencePage"
            id="ch.netcetera.eclipse.projectconfig.ui.page1"
            name="%projectconfig.page.label">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.netcetera.eclipse.projectconfig.ui.preferences.ProjectConfigPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.netcetera.eclipse.projectconfig.ui.handler.ProjectStettingsPropertyTester"
            id="ch.netcetera.eclipse.projectconfig.ui.propertyTester"
            namespace="ch.netcetera.eclipse.projectconfig.ui"
            properties="urlConfigured"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
